$border: 1px solid #eeeeee;
.race-table {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: $border;
  .race-table-body,
  .race-table-header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    .race-table-row {
      width: 100%;
      display: flex;
      align-items: stretch;
      border-bottom: $border;
      .race-table-cell {
        box-sizing: border-box;
        flex-grow: 1;
        padding: 0.8rem 1.2rem;
        border-right: $border;
        &:last-child {
          border-right: none;
        }
        &.num {
          width: 20%;
          max-width: 150px;
          background: green;
        }
        &.serial {
          width: 360px;
          min-width: 360px;
        }
        &.place {
          min-width: 110px;
          width: 120px;
          max-width: 120px;
        }
        &.laps {
          min-width: 50px;
          width: 100px;
          max-width: 100px;
        }
        &.time {
          width: 20%;
          max-width: 300px;
          min-width: 230px;
        }
      }
    }
  }
  .race-table-header {
    .race-table-row {
      .race-table-cell {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  .race-table-body {
    .race-table-row {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}