.laps-counter {
  &-info {
    margin-bottom: 2rem;
    display: flex;
    font-size: 1.5rem;
    .title {
      margin-right: 1rem;
    }
    .value {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  &-time {
    margin-bottom: 2rem;
    display: flex;  
    font-size: 1.5rem;
    .title {
      margin-right: 1rem;
    }
    .value {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}